{% extends 'plantilla.html' %}
{% block titulo %} Agregar Boleto {% endblock %}
{% block content %}
    <div class="row aling-items-center justify-content-center ">
        <div class="col-9 col-md-7 py-5 px-5 border rounded m-4 shadow">
            <h4 class="alert-heading mb-2">FORMULARIO AGREGAR BOLETO</h4>
            <form action="frmAgregarBoleto" method="POST" class="mt-2">
                <div class="form-group mb-2">
                    <label id="id">Id Boleto: </label>
                    <input type="number" id="id" name="id" class="form-control" required/>
                    <errors path="id" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-3">
                    <label id="select_pasajero">Pasajero: </label>
                    <select class="form-select"  name="select_pasajero" aria-label="Default select example">
                        {% for pasajero in pasajero %}
                        <option value="{{pasajero[0]}}">{{pasajero[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label id="select_conductor">Conductor: </label>
                    <select class="form-select" name="select_conductor" aria-label="Default select example">
                        {% for conductor in conductor %}
                        <option value="{{conductor[0]}}">{{conductor[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label id="select_viaje">Viaje: </label>
                    <select class="form-select" name="select_viaje" aria-label="Default select example">
                        {% for viaje in viaje %}
                        <option value="{{viaje[0]}}">{{viaje[1]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <a class="btn btn-secondary" href="/listaBoleto" role="button">Regresar</a>
                <button type="submit" name="Enviar" class="btn btn-success">Agregar</button>
            </form>
        </div>
    </div>
{% endblock %}