{% extends 'plantilla.html' %}
{% block titulo %} Agregar Persona {% endblock %}
{% block content %}
    <div class="row aling-items-center justify-content-center ">
        <div class="col-9 col-md-7 py-5 px-5 border rounded m-4 shadow">
            <h4 class="alert-heading mb-2">FORMULARIO AGREGAR</h4>
            <form action="frmAgregarPersona" method="POST" class="mt-2">
                <div class="form-group mb-2">
                    <select class="form-select" name="select_doc" aria-label="Default select example">
                        <option selected>Tipo de documento</option>
                        <option value="1">Cedula de Ciudadania</option>
                        <option value="2">Tarjeta de identidad</option>
                        <option value="3">Pasaporte</option>
                        <option value="4">Registro Civil</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label id="identificacion">Identificacion: </label>
                    <input type="number" id="identificacion" name="identificacion" class="form-control" required/>
                    <errors path="identificacion" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="nombre">Nombre: </label>
                    <input type="text" id="nombre" name="nombre" class="form-control" required="required" />
                    <errors id="nombre" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="apellido">Apellido: </label>
                    <input type="text" id="apellido" name="apellido" class="form-control" required="required" />
                    <errors id="apellido" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="email">Email: </label>
                    <input type="email" id="email" name="email" class="form-control" required="required" />
                    <errors id="email" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="telefono">Telefono: </label>
                    <input type="text" id="telefono" name="telefono" class="form-control" required="required" />
                    <errors id="telefono" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <select class="form-select"  name="select_per" aria-label="Default select example">
                        <option selected>Tipo de persona</option>
                        <option value="1">Pasajero</option>
                        <option value="2">Conductor</option>
                    </select>
                </div>
                <a class="btn btn-secondary" href="/listaPersona" role="button">Regresar</a>
                <button type="submit" name="Enviar" class="btn btn-success">Agregar</button>
            </form>
        </div>
    </div>
{% endblock %}