{% extends 'plantilla.html' %}
{% block titulo %} Agregar Viaje {% endblock %}
{% block content %}
    <div class="row aling-items-center justify-content-center ">
        <div class="col-9 col-md-7 py-5 px-5 border rounded m-4 shadow">
            <h4 class="alert-heading mb-2">FORMULARIO AGREGAR</h4>
            <form action="frmAgregarViaje" method="POST" class="mt-2">
                <div class="form-group mb-2">
                    <label id="numero">Numero de boleto: </label>
                    <input type="number" id="numero" name="numero" class="form-control" required/>
                    <errors path="numero" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="fecha">Fecha: </label>
                    <input type="datetime-local" id="fecha" name="fecha" class="form-control" required="required" />
                    <errors id="fecha" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="silla">Silla: </label>
                    <input type="number" id="silla" name="silla" class="form-control" required="required" />
                    <errors id="silla" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="placa">Placa: </label>
                    <input type="text" id="placa" name="placa" class="form-control" required="required" />
                    <errors id="placa" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="tarifa">Tarifa: </label>
                    <input type="number" id="tarifa" name="tarifa" class="form-control" required="required" />
                    <errors id="tarifa" elemnt="div" class="text-danger" />
                </div>
                <div class="form-group mb-2">
                    <label id="select_ciudad_origen">Origen: </label>
                    <select class="form-select" name="select_ciudad_origen" aria-label="Default select example">
                        <option selected>Ciudad de donde sales</option>
                        <option value="1">Bogota</option>
                        <option value="2">Barranquilla</option>
                        <option value="3">Boyaca</option>
                        <option value="4">Medellin</option>
                        <option value="5">Bucaramanga</option>
                        <option value="6">Neiva</option>
                        <option value="7">Cali</option>
                        <option value="8">Ibagué</option>
                        <option value="9">Pereira</option>
                        <option value="10">Villavicencio</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label id="select_ciudad_destino">Destino: </label>
                    <select class="form-select" name="select_ciudad_destino" aria-label="Default select example">
                        <option selected>Ciudad a donde viajas</option>
                        <option value="1">Bogota</option>
                        <option value="2">Barranquilla</option>
                        <option value="3">Boyaca</option>
                        <option value="4">Medellin</option>
                        <option value="5">Bucaramanga</option>
                        <option value="6">Neiva</option>
                        <option value="7">Cali</option>
                        <option value="8">Ibagué</option>
                        <option value="9">Pereira</option>
                        <option value="10">Villavicencio</option>
                    </select>
                </div>
                <a class="btn btn-secondary" href="/listaPersona" role="button">Regresar</a>
                <button type="submit" name="Enviar" class="btn btn-success">Agregar</button>
            </form>
        </div>
    </div>
{% endblock %}